html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


.bg{
    background-image: url('../images/pattern-background-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 15px ;
    height: 100%;

}

.bdrs--top{
    border-radius: 16px 16px 0 0 ;
}

.bdrs--bottom{
    border-radius: 0 0 16px 16px ;
}





.card{
    font-family: 'Red Hat Display', sans-serif;
    max-width: 90%;
    margin-bottom: 20px;
    >img{
        display: block;
        object-fit:cover ;
        width: 100%;
    }
    .card__content{
        padding: 20px 16px ;
        background-color: #fff;
        box-shadow: 5px 5px 10px rgba(0,0,0,.3);
        h1{
            font-size: 32px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 24px;
            
        }
        p{
            width: 0;
            min-width: 100%;
            text-align: center;
            margin-bottom: 20px;
            line-height: 1.5;
            color: hsl(224, 23%, 55%)

        }

      .card__content__btn{
          width: 100%;
          padding: 12px 0;
          border:none;
          border-radius: 8px;
          cursor: pointer;
          font-weight: bold;
      }
      .btn--color--blue{
        background-color: hsl(245, 75%, 52%);
        color: #fff;
        margin-bottom: 16px;
        box-shadow: 0 5px 10px rgba(56,41,224,.5);
        &:hover{
            background-color: rgba(56,41,224,.7)
        }
     }
     .btn--color--white{
        background-color: #fff;
        color:hsl(224, 23%, 55%);
        &:hover{
            color:hsl(223, 47%, 23%);
        }
     }
    }
}

.card__ontent__planBox{
    display: flex;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 20px;
    img{
        margin-right: 16px;
    }
    h2{
        font-weight: bold;
        margin-bottom: 8px;
    }
    span{
        color:hsl(224, 23%, 55%);
    }

    a{
        &:hover{
            text-decoration:none;
            color:hsl(245, 75%, 52%)
        }
    }

    .card__ontent__planBox--auto{
        margin-left: auto;
    }
}

@media (min-width:546px){
    .bg{
        background-image:url('../images/pattern-background-desktop.svg');
        background-size: contain;
        
    }

    .card{
        .card__content{
            padding:50px;
        }
    }
   
}